@model GigHub.Core.ViewModels.GigsViewModel
@{
    ViewBag.Title = @Model.Heading;
}

<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by Artist, Genre, etc..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul id="gigs" class="gigs voffset40">
    @foreach (var gig in Model.Gigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
                <div class="year">@gig.DateTime.ToString("yyyy")</div>
            </div>
            <div class="details">
                <div>
                    <span class="artist">
                        @Html.ActionLink(gig.Artist.Name, "Details", "Gigs",
                       new { gig.Id }, null)

                        @if (gig.IsCanceled)
                        {
                            <span class="label label-warning">Canceled</span>
                        }
                        @if (Model.ShowActions)
                        {
                            <button data-artist-id="@gig.Artist.Id"
                                    class="btn btn-link btn-sm pull-right js-toggle-follow">
                                @(gig.UserIsFollowingArtist ? "Following" : "Follow ?")
                            </button>
                        }
                    </span>
                </div>
                <div>
                    <span class="genre">@gig.Genre</span>
                    @if (Model.ShowActions && !gig.IsCanceled)
                    {
                        <button data-gig-id="@gig.Id"
                                class="btn
                                @(gig.UserIsAttending ? "btn-info" : "btn-default")
                                btn-sm js-toggle-attendance">
                            Going @(gig.UserIsAttending ? "" : "?")
                        </button>
                    }
                </div>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");
        });
    </script>
}